<form [formGroup]="formGroup" (ngSubmit)="submit()" class="form-horizontal" novalidate="" *ngIf="formGroup">
  <div class="card card-default w-75" *ngIf="formGroup">
    <div class="card-header">
      <div class="header-block">
        <p class="title">
          Change Password
        </p>
      </div>
    </div>
    <div class="card-body">
      <app-form-group [label]="'Current password'"
                      [formGroup]="formGroup"
                      [controlName]="'currentPassword'"
                      [inputType]="inputType.Password"></app-form-group>
      <app-form-group [label]="'New password'"
                      [formGroup]="formGroup"
                      [controlName]="'newPassword'"
                      [inputType]="inputType.Password"
                      [errors]="passwordErrors"></app-form-group>
      <app-form-group [label]="'Confirm password'"
                      [formGroup]="formGroup"
                      [controlName]="'confirmPassword'"
                      [inputType]="inputType.PasswordConfirm"
                      [errors]="confirmPasswordErrors"></app-form-group>
      <app-submit-button [formGroup]="formGroup"></app-submit-button>
    </div>
  </div>
</form>
