<div [id]="modalId" class="modal fade" role="dialog" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <span *ngIf="!editedDescription">Add Recipe Step</span>
          <span *ngIf="editedDescription">Update Recipe Step</span>
        </h4>
        <button type="button" class="close" data-dismiss="modal" (click)="cancel()">
          <i class="fa fa-times text-danger"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-horizontal">
          <app-form-group [label]="'Description'"
                          [formGroup]="formGroup"
                          controlName="description"
                          [inputType]="inputType.TextArea"></app-form-group>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" *ngIf="formGroup.valid" (click)="add()">
          <span *ngIf="!editedDescription">Add</span>
          <span *ngIf="editedDescription">Update</span>
        </button>
      </div>
    </div>
  </div>
</div>

